
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #d9e2eb;
    height: 100%;
    width: 100%;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}

.backgroundSize {
    /*
  background-image: url("./assets/images.png");
  */
    height: 100%;
    width: 100%;
}

.dark-animated {
    background-image: url("@/assets/background/Burning.gif");
}

.light-animated {
    background-image: url("@/assets/background/Contour.gif");
}

.light2-animated {
    background-image: url("@/assets/background/UndertheClouds.gif");
}

html,
/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

/* full-sized  container that fills up the page */
.div1 {
    height: 100%;
    width: 100%;
}
